<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Successful Login</title>
</head>
<body>
    <div class = "wrapper">
        <p class="welcome_msg"> Welcome{{username}}</p>
        <button classs="logout"><a=href="/log_out">Log off</a></button>
    </div>

<div class ="container">
    <h1>You are now logged in !</h1>
</div>

<!-- 
    <h1>Welcome to the Wall ! </h1>
    <div class = "row">
        <form class="" action="/create_message" method="post">
            <div> 
                <label for ="message"> Post your message ! <input type = "text" name=message value=""> </label>
            </div>
            <button type ="submit" class ="btn"> Post a message!</button>
        </form>
    </div>
-->
</body>
</html>