*{
    outline: 1px dashed green;
}
#wrapper{
    width:970px;
    margin: 0px auto;

}

header h1, header h2{
display:inline-block;
width:45%;
}

#bio {
    height:250px;
}
    #bio img {
      height:200px;
      width: auto;
    }
    #bio div{
       display:inline-block;
       width:640px;
       vertical-align: top;
    }
#projects{
    height:600px;
}
footer{
height: 100%
}