<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo Quotes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h2>Here are all the awesome quotes!</h2>

        <% if(quotes){ %>
            <% for(let quote of quotes){ %>
                <div class="row">
                    <div class="col-md-8">
                        <p class="quote">
                            "
                            <%= quote.quote %>"
                        </p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <p class="author">
                            ~
                            <%= quote.name %> at
                                <%= quote.created_at.toGMTString() %>
                        </p>
                    </div>
                </div>
                <hr>
                <%}%>
                    <%}%>

    </div>
</body>
</html>