<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename="styles.css")}}">
    <title>Friends</title>
</head>
<body>
    <h1> All Friends </h1>
    <table border=1>
            <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>  
                </thead>
                <tbody>
                    {% for friend in friends%}
                    <tr>
                            <td>{{ friend['first_name'] }}</td>
                            <td>{{ friend['last_name'] }}</td>
                            <td>{{ friend['email'] }}</td>
                            <td>
                               
         <button> <a href="/friends/{{ friend['id'] }}/edit">Edit</a></td>
         <td>
                <form action="{{ url_for('delete', id=friend['id']) }}" method="post">
                        <input class="btn action" type="submit" value="Delete">
                    </form>
                            </td>
                    </tr>
                    {%endfor%}
                </tbody>
    </table>
    <br>
    <hr>
    <br>
    <form action='/friends' method='POST'>
        <label for="first_name">First Name: <input type="text" name="first_name" id="first_name"></label><br><br>
        <label for="last_name">Last Name: <input type="text" name="last_name" id="last_name"></label><br><br>
        <label for="email">Email  :    <input type="text" name="email" id="email"> <button><input type="submit" value="Add"></label></button><br>
        
      </form>

</body>
</html>
