*{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
}

#wrapper{
    width: 970px;
    margin: 0px auto;
    background-color: #245176;
    color:white;
}

#top-nav{
    padding: 15px;
}

#header img{
    width: 350px;
}

#header-right{
    display: inline-block;
    margin-left: 245px;
    text-align: center;
    vertical-align: top;
}
#header-right a{
    color:#cbad04;
}
#header-right span{
    color: black
}
.nav ul {
    list-style: none;
    background-color:#487EAD;
    padding: 0px;
    margin: 10px 5px;
  }

  .nav li {
    width: 130px;
    height: 20px;
    text-align: center;
    display: inline-block;
    padding:10px;
    font-weight: 1.2 em;
  }
  .nav a {
    text-decoration: none;
    color: #fff;
  
  }
  .subcontent_top{
      display:inline-block;
  }
  .subcontent_top-left{
      width:200px;
  }
  .subcontent_top-right{
    width:200px;
}