<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome Page</title>
    {% load staticfiles %}
    <link href="{% static 'books_reviews_app/style.css' %}" rel="stylesheet">
</head>
<body>
    <div class = "container">
            <h2> Welcome {{user.name}} </h2>
            <div class="row" style="text-align: right;">
                    <a href="{% url 'books_reviews_app:add' %}" style="margin-right: 20px;">Add Book and Review</a>
                    <a href="{%url'LoginReg:logout' %}">Logout</a>
                  </div>
                  <div class="row" style="margin-top: 50px;">
                        <div class="one-half column">
                          <h4>Recent Book Reviews:</h4>
                          {% for reviews in recent %}
                        </div>
                        <div class="one-half column">
                          <h4>Other Books with Reviews:</h4>
                          <div id="review-box">
                            Hi
                          </div>
                        </div>
                      </div>
    </div>
  
</body>
</html>