<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{url_for("static", filename="ninjas.css")}}">
  </head>
<body>
    <h1> Information about Ninjas </h1>
  <p>Ninja most certainly did exist in Japan, but they were more about information—and disinformation—than just assassination.
Yes, there were ninja assassins, but as Ninja Attack author and game localizer Matt Alt points out, what percentage of CIA
employees are trained assassins? </p>

<p>In Ninja Attack, Alt and co-author Hiroko Yoda examine the historical ninja.
(Full disclosure: Tuttle, which has published two of my books, is republishing Alt and Yoda’s book.) “A 15th century ninja
would laugh out loud at the sight of a dude in black pajamas running around a modern city,” says Alt. “The whole point of
a ninja was to blend in.” Ninja often dressed as farmers so they could do just that as they collected information and scouted
enemies.</p>
</body>
</html>