<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'LoginReg/css/style.css' %}">
    <title>Show</title>
</head>

<body>
    <div id="wrapper">
        <div id="content">
                <p><a href="/books">Home</a> | <a href="{% url 'books_reviews_app:add' %}">Add book and review</a> | <a href="/logout">Logout</a></p>
                <h1><strong>User Alias: </strong>{{user.alias}}</h1>
                <h2><strong>Name: </strong> {{user.name}}</h2> 
                <h2><strong>Email: </strong> {{user.email}}</h2> 
                <h2><strong>Total Reviews: </strong> {{user.userreviews.all.count}}</h2>
                <hr>
                <h1>Posted Reviews on the Folowing Books</h1>
                {% for book in unique_book_reviews %}
                <h3><a href="/books/{{book.id}}">{{book.title}}</a></h3>
                {% endfor %}
        </div>
    </div>
</body>

</html>