<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <div calss="container">
        <h1>Welcome to Quoting Dojo</h1>

        <h3>Add a Quote!</h3>
        <form class='form' action='/quotes' method='post'>
            Name:
            <input class='form-control' type='text' name='name'> Quote!
            <textarea class='form-control' type='text' name='quote'></textarea>
            <input type="submit" value="Submit">
            <a href="/main" role="button">To the Quotes</a>
        </form>


    </div>
</body>

</html>