<h2>Quotes List</h2>
<div class="row" *ngIf="myQuotes">
    <div class="col-lg-10 col-lg-offset-1 quoteBox" *ngFor="let quote of myQuotes; let idx = index">
        <div class="col-lg-7 ">
            <p>{{quote.quote}}</p>
            <div class="col-lg-4 col-lg-offset-1">
                <p>- {{quote.author}}</p>
            </div>
        </div>
        <div class="col-lg-2">
            <h3>Ratings: {{quote.vote}}</h3>
        </div>
        <div class="col-lg-3 buttons">

            <button class="btn btn-success" (click)='voteUp(quote, idx)'>Vote Up</button>
            <button class="btn btn-danger" (click)='voteDown(quote, idx)'>Vote Down</button>
            <button class="btn btn-warning" (click)='callParent(quote, idx)'>Delete</button>
        </div>
    </div>
    <hr>
</div>
