<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mongoose Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
            
                
                    <h4>Animal</h4>
                    <table class ="tabel table-striped">
                            <thead>
                                    <tr>
                      <td>Animal Type</td>
                      <td>No. of Legs</td>
                                        </tr>
                            </thead>
                    <tbody>
                    <% for (let animal of animals) {%>
                    <tr> 
                        <td><%= animal.name %> </td>
                        <td><%= animal.numLegs %></td>
                        <td>
                                
                                <a href="/animals/edit/<%= animal._id%>" class="btn">Edit</a>
                                <form action="/animals/destroy/<%= animal._id%>" method="POST">
                                    <button>Delete</button>
                                </form>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
                </table>
              
    
             

           <a class = "btn btn-primary" href="/animals/new">Add New Animal</a>
    </div>
</body>
</html>