<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="shortcut icon" href="">
</head>
<body>
<fieldset>
	<legend>Animal type:</legend>
	<p>Animal: <%= animal.name %></p>
	<p>Number of Legs: <%= animal.numLegs %></p>
	<a href="/mongooses/edit/<%= animal._id %>">edit</a>
	<a href="/">Home</a>
</fieldset>
</body>
