<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration Page</title>
    <link rel="stylesheet" href="{% static 'LoginReg/css/style.css' %}">
</head>

<body>
    <div id="wrapper">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <div id="content">
            <h1>Registration</h1>
            <form action="/register" method="post">
                {% csrf_token %}
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name">

                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name">

                <label for="birthday">Birthday</label>
                <input type="date" name="birthday">

                <label for="email">Email:</label>
                <input type="text" name="email">

                <label for="password">Password:</label>
                <input type="text" name="password">

                <label>Confirm Password:</label>
                <input type="text" name="password_confirm">

                <input type="submit" value="Register">
            </form>
            <h1>Log In</h1>
            <form action="/login" method="post">
                {% csrf_token %}
                <label>Email:</label>
                <input type="text" name="email">
                <label>Password:</label>
                <input type="text" name="password">
                <input type="submit" value="Login">
            </form>
        </div>
    </div>
</body>

</html>