<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login and Registration Page</title>
    <link rel="stylesheet" href="{% static 'LoginReg/css/style.css' %}">
</head>
<body>
        <div id="wrapper">
                {% if messages %}
                  <ul class="messages">
                  {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                  </ul>
                {% endif %}
                <div id="content">
                        <h1>Success! Welcome, {{ user.first_name }}</h1>
                </div>
              </div>
</body>
</html>