<html>

<head>
    <title>Email List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=" styles.css ") }}">
</head>

<body>
    {% with messages = get_flashed_messages() %}
     {% if messages: %}
     {% for message in messages: %}
    <p id='sucsess_msg message'>{{message}}</p>
    {% endfor %} 
    {% endif %} 
    {% endwith %}

    <div class="wrapper">
            <h2>Email Addresses Entered:</h2>
            {% for email in emails: %}
                <div class="row">
                    <p class="email"> User Email : {{ email['email'] }}</p>
                    <p class="date"> Created At : {{ email['created_at'] }}</p>
                    <form action="/delete" method="post">
                        <input type="text" name="id" value="{{ email['id'] }}" hidden>
                        <input class="delete" type="submit" value="Delete">
                    </form>
                </div>
            {% endfor %}
            </div>
        
            <form action="/" method="get">
                <input type="submit"  class="return" value="Add new email">
            </form>
</body>
</html>